<html ng-app="abc">
    <head>
        <title>ToDoList</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/angular.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
            </head>
    <body ng-controller="ctrl">
        <div class="container">
            <div class="Jumbotron">
                <h1>ToDoList</h1>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="todoValue">
                </div>
                <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="add()">Add ToDOList</button>
                </div>
            </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="x in arr track by $index">{{x}}
                        <button type="button" class="btn btn-primary" ng-click="edit($index)" style="float: right;">edit</button>
            
                    </li>
                    
                </ul>
        </div>
</body>
</html>